#site_logo {
    display: block;
    float: left;
    width: 220px;
    height: 60px;
    margin: 30px 10px 30px 0;
    text-indent: -1000em;
    background: url('../Images/shoppica_logo.png') no-repeat center;
}

body {
    background-color: #fffbe5;
    background-image: url('../Images/texture_1.png');
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

input[type=text], select.form-control {
    width: 150px;
}

a:hover {
    color: #ff7700;
}

.auto-overflow {
    overflow: auto;
}

#register-login > li {
    margin-left: 17px;
    padding-left: 15px;
    background-image: url('../Images/bullet_1.png');
    background-repeat: no-repeat;
    background-position: 0 -3px;
    background-color: #7ebd1e;
}

#main {
    width: 960px;
    min-width: 960px;
    background: #fff;
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#advanced-search > a {
    color: #7ebd1e;
}

#search_bar > *, #advanced-search {
    float: right;
    margin-left: 10px;
}

#registration-search {
    padding: 30px 10px;
}

ul.horizontal-list {
    overflow: auto;
}

    ul.horizontal-list > li {
        float: right;
    }
