#site_logo {
    display: block;
    float: left;
    width: 220px;
    height: 60px;
    margin: 30px 10px 30px 0;
    text-indent: -1000em;
    background: url('../Images/shoppica_logo.png') no-repeat center;
}

body {
    background-color: #fffbe5;
    background-image: url('../Images/texture_1.png');
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

input.form-control, select.form-control, button.form-control {
    width: 150px;
    height: 32px;
}

a:hover {
    color: #ff7700;
    text-decoration: none;
}

.auto-overflow {
    overflow: auto;
}

ul.horizontal-r-list, ul.horizontal-l-list {
    overflow: auto;
}

    ul.horizontal-r-list > li {
        float: right;
    }

    ul.horizontal-l-list > li {
        float: left;
    }

#register-login > li {
    margin-left: 17px;
    padding-left: 15px;
    background-image: url('../Images/bullet_1.png');
    background-repeat: no-repeat;
    background-position: 0 -3px;
    background-color: #7ebd1e;
}

#main {
    width: 960px;
    min-width: 960px;
    background: #fff;
    margin: 10px auto;
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#advanced-search > a {
    color: #7ebd1e;
}

#search_bar > *, #advanced-search {
    float: right;
    margin-left: 10px;
}

#registration-search {
    padding: 15px 10px;
}

#header {
    padding: 10px 30px;
}

#search-button {
    width: 32px;
    height: 32px;
    background-image: url('../Images/icon_search.png');
    background-position: center top;
    background-color: #ff7700;
    border: none;
    text-indent: -1000em;
}

#menu-container {
    border-top: 1px solid #eee;
    width: 100%;
}

#menu > ul {
    padding-left: 0px;
    margin: 0px;
}

    #menu > ul > li > a:hover {
        background-color: #ff7700;
        color: white;
    }

    #menu > ul > li > a {
        display: block;
        color: #ff7700;
        padding: 10px 10px;
    }

#menu-home > a {
    margin-top: 4px;
    text-indent: -1000em;
    background-image: url(../Images/menu_home.png);
    background-repeat: no-repeat;
    background-color: #ddd;
    width: 36px;
    height: 32px;
    background-position: center;
}

#offers-and-accepted > a {
    float: right;
    margin-left: 15px;
    padding: 10px 0;
}

    #offers-and-accepted > a > span {
        font-family: "Ubuntu Regular", sans-serif;
        line-height: 25px;
        font-weight: bold;
        font-size: 15px;
    }

#offers, #accepted {
    width: 23px;
    height: 23px;
    text-indent: -1000em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7ebd1e;
}

#offers {
    background-image: url('../Images/i_cart.png');
}

#accepted {
    background-image: url('../Images/i_cart.png');
}

#intro {
    background: url(../images/intro.png) top left repeat-x, url(../images/intro_texture.png) center no-repeat;
    background-color: #def5d0;
    width: 100%;
    height: 405px;
}

#intro-wrap {
    background: url(../images/intro.png) bottom left repeat-x;
    height: 100%;
    padding: 35px 20px;
}

    #intro-wrap p:first-child {
        color: #64a619;
        font-size: 32px;
    }

#intro-image {
    width: 445px;
    height: 370px;
    background: url(../images/intro_product.png) no-repeat top right;
}

/*#intro-image > a {
    background: url(../Images/intro-image.png) center no-repeat;
    display: block;
    width: 200px;
    height: 200px;
}*/

#main-categories {
    padding: 10px 30px;
    width: 100%;
    background-color: white;
}

h2#categories-title {
    line-height: 40px;
    font-size: 26px;
    letter-spacing: -1px;
    font-family: "Ubuntu Regular", sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    float: left; 
}

    h2#categories-title > span {
        color: #7ebd1e;
    }
